# BEGIN 
 <IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^robots\.txt$ /robots.php [NC,L]
#Check to see if browser can accept gzip files. If so and we have it - serve it!

</IfModule>


<IfModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_item_exclude file \.(gz|zip|xsl)$
    mod_gzip_item_include mime ^text/html$
	mod_gzip_item_include mime ^text/plain$
	mod_gzip_item_include mime ^image/x-icon$
	mod_gzip_item_include mime ^httpd/unix-directory$
	mod_gzip_item_include mime ^text/javascript$
	mod_gzip_item_include mime ^application/javascript$
	mod_gzip_item_include mime ^application/x-javascript$
	mod_gzip_item_include mime ^text/x-js$
	mod_gzip_item_include mime ^text/ecmascript$
	mod_gzip_item_include mime ^application/ecmascript$
	mod_gzip_item_include mime ^text/vbscript$
	mod_gzip_item_include mime ^text/fluffscript$
	mod_gzip_item_include mime ^text/css$
	RewriteOptions Inherit
    ReWriteCond %{HTTP:accept-encoding} (gzip.*)
    ReWriteCond %{REQUEST_FILENAME} !.+\.gz$
    RewriteCond %{REQUEST_FILENAME}.gz -f
    RewriteRule (.+) $1.gz [QSA,L]
</IfModule>
# END 

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

#must enable headers_module hapache
<IfModule mod_filter.c>
AddOutputFilterByType DEFLATE text/plain 
AddOutputFilterByType DEFLATE text/html 
AddOutputFilterByType DEFLATE text/xml 
AddOutputFilterByType DEFLATE text/css 
AddOutputFilterByType DEFLATE application/xml 
AddOutputFilterByType DEFLATE application/xhtml+xml 
AddOutputFilterByType DEFLATE application/rss+xml 
AddOutputFilterByType DEFLATE application/javascript 
AddOutputFilterByType DEFLATE application/x-javascript 
AddType x-font/otf .otf 
AddType x-font/ttf .ttf 
AddType x-font/eot .eot 
AddType x-font/woff .woff 
AddType image/x-icon .ico 
AddType image/png .png 
AddType image/jpg .jpg 
</IfModule>

