@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);

/* COULEURS */
$blanc:#FFFFFF;
$grisTclair: #DADADA;
$grisClair: #F4F4F4;
$gris: #AFAFAF;
$darkNoir: #242424;
$noir:#000000;
$vert:#97bf0d;
$orange:#ffb857;
$rose:#d70050; 
$marron:#a02a05;
$bleu:#329bd7;
$violet:#741085;
